body { font-family: Arial, sans-serif; text-align: center; background-color: #f0f0f0; margin: 0; }
header { background-color: #ffcb05; padding: 20px; border-bottom: 5px solid #3b4cca; }
h1 { color: #2a3b93; margin: 0; text-shadow: 2px 2px #ffcb05; }
.search-container { margin: 20px; }
input { padding: 10px; border-radius: 5px; border: 1px solid #ccc; width: 200px;}
button { padding: 10px 20px; background-color: #3b4cca; color: white; border: none; border-radius: 5px; cursor: pointer; font-weight: bold;}
button:hover { background-color: #2a3b93; }

/* Carte Pokemon */
.pokemon-card { background: white; padding: 20px; margin: 20px auto; width: 300px; border-radius: 15px; box-shadow: 0 5px 15px rgba(0,0,0,0.1); }
.pokemon-card img { width: 150px; height: 150px; }
.pokemon-card h2 { text-transform: capitalize; }

/* Modale */
.modal { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.6); }
.modal-content { background: white; margin: 15% auto; padding: 20px; width: 80%; max-width: 400px; border-radius: 10px; position: relative; }
.close-btn { position: absolute; right: 15px; top: 5px; font-size: 30px; cursor: pointer; }
